@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #0e1015;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}
